/* ----- Variables ----- */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  /* ----- Header ----- */
  
  header {
    background-color: #034873;
  }
  
  .barra-amarilla {
    display: flex;
    align-items: center;
    padding: 20px 20px;
  }
  
  .logo-aunar {
    width: 150px;
    margin-right: 310px;
  }
  
  .titulo-campus {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    font-family: "Kalam", sans-serif;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 2px;
  }
  
  /* ----- Main ----- */
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .contenedor {

    width: 400px;
    padding: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -260px; /* Aumentado para subir el contenedor */
  }
  
  .titulo-sesion {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .campo-usuario,
  .campo-contrasena {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .campo-contrasena {
    margin-top: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    color: #ffeb3b;
  }
  
  .boton-ingresar {
    background-color: #ffeb3b;
    color: #000;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .boton-ingresar:hover {
    background-color: #fff;
    color: #ffeb3b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .olvidaste-contrasena {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .recordar-usuario {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .recordar-usuario input {
    margin-right: 10px;
  }
  
  .recordar-usuario label {
    font-size: 14px;
  }
  
  .registrar-usuario {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* ----- Media queries ----- */
  
  @media (max-width: 768px) {
    .contenedor {
      width: 90%;
    }
  
    .titulo-campus {
      font-size: 25px;
    }
  }
  
  /* ----- Estilos adicionales ----- */
  
  .campo-usuario:focus,
  .campo-contrasena:focus {
    border-color: #ffeb3b;
    outline: none;
  }
  
  .boton-ingresar:active {
    transform: scale(0.95);
  }
  
  