
.contenedor {
    background-color: #225184; 
    height: 1.5cm; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
  }
 

*{
  font-family:'Gill Sans', 'Gill Sans MT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Trebuchet MS', sans-serif;
}

  
  .contenedor h1 {
    color: white;
    text-align: center; 
    padding: 10px 0; 
    margin: 0; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:0;
  }

  .contenedor-principal {
    display: flex;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0; 
  }

  /* Contenedor de búsqueda */
  .contenedor-busqueda {
    display: flex;
    align-items: center;
    width: 20%;
  }

  /* Barra de búsqueda */
  .barra-busqueda {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Icono de lupa */
  .icono-lupa {
    margin-left: 10px;
    cursor: pointer;
  }

  /* Contenedor de filtros */
  .contenedor-filtros {
    width: 50%;
    margin-left: 20px;
  }

  /* Barras de filtro */
  .barra-filtro {
    background-color: #ffff00; /* Amarillo */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  /* Títulos de las barras de filtro */
  .titulo-filtro {
    margin-bottom: 5px;
  }

  .contenedor-principal{
    margin-top: -10px;
    margin-left: 50px;

  }



.contenedor-amarillo {
    background-color: #FFD608; /* Color de fondo del contenedor #034873*/
    padding: 45px; /* Relleno interno del contenedor */
    top: calc(1cm + 10px); /* Distancia desde arriba (altura del contenedor azul + espacio adicional) */
    display: flex; /* Alinear los elementos en fila */
    align-items:center; /* Centrar verticalmente los elementos */
  }
 /* Estilo para los botones */
/* Estilo para los botones */
.imagen {
    width: 200px; /* Ancho de la imagen */
    margin-right: 150px; /* Espacio entre la imagen y los botones */
  }
  
  /* Estilo para el contenedor de los botones */
  .botones-container {
    flex-grow: 1; /* El contenedor de botones ocupa todo el espacio disponible */
  }
  
  /* Estilo para los botones */
  .boton {
    cursor: pointer;
    background-color: transparent; /* Hacer el fondo transparente */
    padding: 10px 25px;
    border-radius: 5px;
    position: relative; /* Ajusta la posición de los pseudo-elementos */
    border: 1px solid #FFD608; /* Agrega un borde */
    margin-right: 0cm; 
    align-items: center;/* Añade 1cm de separación entre botones */
  }
  
  /* Estilo para el símbolo de la flecha */
  .boton::after {
    content: "\25BE"; /* Código Unicode para la flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 10px; /* Coloca la flecha a 10px desde el borde derecho */
    transform: translateY(-50%) rotate(0deg); /* Gira la flecha hacia abajo inicialmente */
    transition: transform 0.3s; /* Agrega una transición suave al giro */
  }
  
  /* Cambia la rotación de la flecha cuando el checkbox está marcado */
  input[type="checkbox"]:checked ~ .botones .boton::after {
    transform: translateY(-50%) rotate(180deg); /* Gira la flecha hacia arriba cuando el checkbox está marcado */
  }

  .contenedor-azul {
    background-color:  #225184; /* Color de fondo del contenedor */
    height: 0cm; 
    padding: 20px; /* Relleno interno del contenedor */
    top: calc(3cm + 20px); /* Distancia desde arriba (altura del contenedor azul + espacio adicional) */
    display: flex; /* Alinear los elementos en fila */
    align-items:center; /* Centrar verticalmente los elementos */
  }
  /* Estilo para los botones */
  .botonn {
   
    cursor: pointer;
    background-color: transparent; /* Hacer el fondo transparente */
    padding: 10px 20px;
    border-radius: 5px;
    position:relative; /* Ajusta la posición de los pseudo-elementos */
    border: 1px solid #225184; /* Agrega un borde */
    color: aliceblue;
    margin-right: 0.5cm; 
    align-items: center;/* Añade 1cm de separación entre botones */
    
  }
  .botones1{
    margin-top: -40px;
  }
  .botones1 input[type="checkbox"]{
    margin-top: 50px;
  }
  
  /* Estilo para el símbolo de la flecha */
  .botonn::after {
    content: "\25BE"; /* Código Unicode para la flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 5px; /* Coloca la flecha a 10px desde el borde derecho */
    transform: translateY(-50%) rotate(0deg); /* Gira la flecha hacia abajo inicialmente */
    transition: transform 0.3s; /* Agrega una transición suave al giro */
  }
  

  .contenedor_botonIniciar {
    margin-left: 940px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 10cm;
  }
 
  .contenedor_botonIniciar button {
    text-align: center;
    height: 35px;
    align-items: center;
    background-color: #FFD608;
    color: #ffffff;
    border: 2px solid #fed50bcd;
    font-size: 18px;
  }
  
  .contenedor_botonIniciar button i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .contenedor_botonIniciar button:hover {
    background-color: #225184;
    border: 2px solid #22518496;
    color: #ffffff;
  }

  .contenedor-imagen{
    height: 0cm; 
    padding: 20px; /* Relleno interno del contenedor */
    top: calc(7cm + 20px); /* Distancia desde arriba (altura del contenedor azul + espacio adicional) */
    display: flex; /* Alinear los elementos en fila */
    align-items:center;
    margin-top: 270px;
  }
  .imagen-largo {
    width: 4000px; /* Cubre todo el ancho de la página */
    height: 3cm; /* Largo específico de 3cm */
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin-bottom: 2cm;
    padding: -20px;
    width: calc(95vw - 0cm); /* Ancho de la pantalla menos 3cm para la distancia */
  }

  .contenedor-imagen-universidad{
    margin-top: 50px;
  }

.contenedor-imagen-universidad img{
    margin-left: 35px;
  width: 1450px;
    height: 650px;
  }
 /* Estilos para el campo de búsqueda */

.contenedor-barrabusqueda .input-busqueda {
  width: 95%; /* Ancho completo */
  height: 1cm; /* Altura de 2cm */
  padding: 10px; /* Espacio interno */
  font-size: 16px; /* Tamaño de la fuente */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  margin-top: -40px; /* Margen superior de 10px */
  box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
  margin-left: 30px;
}
/* Estilos para el contenedor de botones con imágenes */
.contenedor-botones-con-imagenes {
  display: flex; /* Utilizar flexbox */
  justify-content: center;
  margin-top: 1cm; /*distancia al contenedor de arriba*/
}


/* Estilos para los botones con imágenes */
.boton-con-imagen {
  padding: 10px; /* Eliminar el relleno */
  border: none; 
  margin-right: 10px; /*la imagen a la derecha*/
}

/* Estilos para las imágenes dentro de los botones */
.boton-con-imagen img {
  width: 200px; 
  height: auto; 
 
}
.contenedor-final-azul {
  position: relative; /* Posición relativa para alinear pseudo-elementos */
  width: 100%; /* Ancho completo de la pantalla */
  height: 15cm; /* Altura de hasta 5cm */
  background-color: #225184; /* Color de fondo azul */
  margin-top: 3cm;
}
.linea-horizontal {
  position: absolute; /* Posición absoluta */
  top: 60%; /* Centrado verticalmente */
  left: 0; /* Alinear en el borde izquierdo */
  width: 100%; /* Ancho completo */
  height: 1px; /* Grosor de la línea */
  background-color: rgb(212, 243, 8); /* Color de la línea */
}

.redes-sociales{ 
  color: #f6f2f2;/*color de la frase */
  position: absolute; /* Posición absoluta */
  top: 0.5cm; /* Distancia de 1cm desde la parte superior */
  left: 10px; /* Distancia desde la izquierda */
  font-weight: bold; /* Texto en negrita */
  font-size: 20px;
  margin-left: 200px;
  
}
.redes-sociales img{
  
  margin: 20px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.imagen-abajo-redes {
  position: absolute; /* Posición absoluta */
  margin-top: 160px; /* Distancia de 3 cm más el tamaño del texto */
  margin-left: 230px;
}
.linea-horizontal1 {
  position: absolute; /* Posición absoluta */
  top: 20%; /* Centrado verticalmente */
  left: 0; /* Alinear en el borde izquierdo */
  width: 50%; /* Ancho completo */
  height: 1px; /* Grosor de la línea */
  background-color: rgb(250, 250, 248); /* Color de la línea */
}
/* Estilos para la línea vertical */
.linea-vertical {
  position: absolute; /* Posición absoluta */
  top: 5%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  height: 50%; /* Altura igual al contenedor */
  width: 1px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
  transform: translateX(-50%); /* Centrar horizontalmente */
}
/* Estilos para el texto en la derecha */
.texto-derecha {
  position: absolute; /* Posición absoluta */
  top: 30%; /* Centrado verticalmente */
  left: calc(50% + 5px); /* Alineación a la derecha de la línea vertical */
  transform: translateY(-50%); /* Centrado verticalmente */
  text-align: center; /* Texto centrado */
  color: white; /* Color del texto */
  font-size: 20px; /* Tamaño de la fuente */
  width: calc(50% - 10px); /* Ancho */
  overflow-y: auto; /* Agregar barra de desplazamiento vertical si es necesario */
}

/* Estilos para el texto debajo de la línea horizontal */
.texto-abajo {
  position: absolute; /* Posición absoluta */
  bottom: 1cm; /* Distancia de 1cm desde la parte inferior */
  left: 0; /* Alinear en el borde izquierdo */
  width: 100%; /* Ancho completo */
  text-align: center; /* Texto centrado */
  color: white; /* Color del texto */
  font-size: 20px;
}

/* Cambia la rotación de la flecha cuando el checkbox está marcado */
input[type="checkbox"]:checked ~ .botones .boton::after {
  transform: translateY(-50%) rotate(180deg); /* Gira la flecha hacia arriba cuando el checkbox está marcado */
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  border: none;
}

.contenedor-azul label{
  text-align: center;
  font-size: 17px;
  font-family:'Gill Sans', 'Gill Sans MT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Trebuchet MS', sans-serif;
}
 /* Estilo para el símbolo de la flecha */
 .contenedor-azul .boton::after {
  content: "\25BE"; /* Código Unicode para la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 5px; /* Coloca la flecha a 10px desde el borde derecho */
  transform: translateY(-50%) rotate(0deg); /* Gira la flecha hacia abajo inicialmente */
  transition: transform 0.3s; /* Agrega una transición suave al giro */
}

.contenedor-azul label{
  text-align: center;
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Trebuchet MS', sans-serif;
}

 /*------------------------------------------------------------------------------------------------------------*/
  
.contenedor_botonAnterior{
    height: 35vh; /* Establece la altura del contenedor */
    padding-left: 10cm;
}
 .contenedor_botonAnterior button{
  margin-left: -360px;
  margin-top: 10px;
  height:35px;
  width:80px;
  background-color:#ffffff;
  color:rgb(0, 0, 0);
  border:2px solid #225184;
  }

  .contenedor_botonAnterior button:hover{
    background-color:#e7e018;
    border:2px solid #e7e018;
    color: #000000;
  }
  
  .contenedor_recuperar{
    border:0.5px solid #7f7f7f;
    margin-top:250px;
    margin-left: 430px;
    width: 680px;
    height: 320px;
    text-align:left;
  }
  
  .contenedor_recuperar h1
  {
   margin-left:20px;
   font-size:30px;
   color:#2E2E2E;
  }
  .contenedor_recuperar p
  {
   margin-left: 20px;
   margin-top:15px;
   width: 640px;
   font-size:18px;
   color:#2E2E2E;
   text-align: justify;
  }
  
  .contenedor_recuperar li
  {
   list-style-type:none;
   margin-top:10px;
   margin-left: 20px;
  }
  .contenedor_recuperar li input[type="text"]
  {
   margin-top:0px;
   width:630px;
   height:40px;
   border-radius:5px;
   padding-left:10px;
   font-size:18px;
   border:1px solid #BDBDBD;
  }
  .contenedor_recuperar li input[type="submit"]
  {
  height:35px;
  width:642px;
  margin-top:5px;
  background-color:#225184;
  color:white;
  border:1px solid #225184;
  }
  .contenedor_recuperar li input[type="submit"]:hover
  {
    background-color:#256ab3;
  }
  
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  .container {
    background-color: #225184;
    margin-top: 5.6cm;
    padding: 10px;
    width: 80%; /* Ocupa todo el ancho de la pantalla */
    margin-left: auto; /* Alineado horizontalmente */
    margin-right: auto; /* Alineado horizontalmente */
    height: 12cm;
  }
  .inner-container1 {
    background-color: #ffffff; /* Color del contenedor a la derecha */
    width: 1cm; /* Ancho del contenedor a la derecha */
    height: 12cm; /* Alto del contenedor a la derecha */
    margin-left: 0cm; /* Espacio entre los contenedores */
  }
    
  
  .inner-container {
    background-color: #f7f7f7;
    width: 14cm;
    height: 12cm;
    float: right;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);;
  }
  .inner-container h1{
    text-align: center;
    color:#225184;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .row {
    
    list-style: none;
    margin-left: 40px;
    color: #f6f2f2;
    
  
}
  .row li input[type="text"] {
    
      width: 200px;
      height: 30px;
      margin-top: 15px;
      margin-right: 5px;
      border-radius: 1%;
  }


.small-text {
  font-size: small;
  text-align: center;
  margin-top: 1cm; /* Ajusta la distancia entre el texto y el borde inferior del contenedor */
}
.image-container {
  width: 1cm; /* Ancho del contenedor a la derecha */
  height: 1cm; /* Alto del contenedor a la derecha */
  margin-left: 1cm; /* Espacio entre los contenedores */
}

.image-container img {
  width: 13cm; /* Ancho del contenedor a la derecha */
  height: 7cm; /* Alto del contenedor a la derecha */
  margin-left: 0cm; /* Espacio entre los contenedores */
  margin-top: 2cm;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.terms-container {
  margin-top: 10px; /* Espacio entre los textboxes y el contenedor de términos */
  margin-left: 35px;
}

.accept-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(249, 251, 251); /* Color de fondo del botón de aceptar */
  border: black;
  border-radius: 4px;
  cursor: pointer;
}

 /* Estilo para los botones */
 .boton12 {
  cursor: pointer;
  background-color: #225184; /* Hacer el fondo transparente */
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #FFD608; /* Agrega un borde */
  margin-right: 0cm; 
  color: #f6f2f2;
  text-align: center;
  margin-left: 5.5cm;
}


/* Estilos generales para el contenedor de iconos */
.iconos-redes-sociales {
  display: flex; /* Muestra los iconos en fila */
  justify-content: space-between; /* Distribuye los iconos con espacio entre ellos */
  margin-top: 10px; /* Añade margen superior */
}

/* Estilos para cada icono de red social */
.icono-red-social {
  width: 40px; /* Ajusta el tamaño de los iconos */
  height: 40px; /* Ajusta el tamaño de los iconos */
  display: inline-block; /* Permite aplicar estilos a nivel de bloque */
  border-radius: 50%; /* Crea un borde redondeado */
  background-color: #fff; /* Color de fondo blanco */
  text-align: center; /* Centra el texto dentro del icono */
  line-height: 40px; /* Alinea el texto verticalmente */
  cursor: pointer; /* Cambia el cursor a mano al pasar el mouse */
  transition: transform 0.3s ease; /* Añade efecto de transición */
}

/* Icono de Facebook */
.facebook {
  background-color: #225184; /* Color de Facebook */
}

/* Icono de Instagram */
.instagram {
  background-color: #E1306C; /* Color de Instagram */
}

/* Efecto de pulsación al presionar el icono */
.icono-red-social:hover {
  transform: scale(1.1); /* Aumenta el tamaño del icono ligeramente */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Añade una sombra al presionar */
}

/*---------------------------------------------------------------------------------------------------*/
.contenedor_logo_biblioteca img{
  margin-left: 500px;
  width: 500px;
  height: 140px;
}

.linea-horizontal2 {
  margin-left: 140px;
  margin-top: 50px;
  top: 60%;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: rgb(212, 243, 8);
}

.contenedor-botonesEditorial {
  float: left; /* Alinea los botones a la izquierda */
  margin-left: 200px;
  margin-top: 50px;
}

.contenedor-botonesEditorial button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-top: 40px;
  display: block; /* Hace que los botones ocupen todo el ancho disponible */
  margin-bottom: 10px; /* Agrega un espacio entre cada botón */
  background-color: #225184;
  color: #ffffff;
  border: #225184;
}
.contenedor-botonesEditorial button:hover{
  background-color: #FFD608;
  border: #FFD608;
}

.contenedor-fotosBiblioteca {
  overflow: hidden; /* Para que los elementos floten correctamente */
  
}

.contenedor-fotosBiblioteca img {
  margin-left: 200px;/* Alinea la imagen a la derecha */
  width: 900px;
  
}
/*---------------------------------------------------------------------------*/
.contenedor-perfil {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  
}
.perfil {
  width: calc(66.66% - 10px); /* Ancho del perfil */
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px; /* Margen derecho para separar del otro contenedor */
  text-align: center;
}

.perfil hr {
  border: none; /* Elimina el borde predeterminado */
  border-top: 1px solid #ccc; /* Agrega un borde superior */
  margin: 5px 0; /* Espacio por encima y por debajo de la línea */
}
.foto-perfil {
  margin-right: 20px;
}

.foto-perfil img {
  width: 150px; /* Ajusta el tamaño de la foto según sea necesario */
  border-radius: 50%; /* Para hacer la foto de perfil redonda */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

.informacion-perfil h2 {
  margin-top: 0;
}

.informacion-perfil p {
  margin-top: 0;
}

.informacion-perfil ul {
  list-style: none;
  padding: 0;
}

.informacion-perfil li {
  margin-bottom: 5px;
}

.trabajos-subidos {
  width: calc(33.33% - 10px); /* Ancho de los trabajos subidos */
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
/*----------------------------tesis-------------------------------------------------------*/

/* Estilos para el contenedor de botones con imágenes */
.contenedor-botones-grados {
  display: flex; /* Utilizar flexbox */
  justify-content: center;
  margin-top: 1cm; /*distancia al contenedor de arriba*/
  margin-right: 30px; 
}


/* Estilos para los botones con imágenes */
.boton-con-imagen-grados {
  padding: 30px; /* Eliminar el relleno */
  border: none; 
  margin-right: 10px; /*la imagen a la derecha*/
  background-color: #ffffff;
}

/* Estilos para las imágenes dentro de los botones */
.boton-con-imagen-grados img {
  width: 130px; 
  height: auto; 
 
}

/*-----contenedor botones de grados-----*/
.contenedor-botones-grado{
  margin-top: 10px;
  display: flex; /* Utiliza flexbox para alinear los botones */
  justify-content: center; /* Alinea los botones al centro horizontal */
}

.botones-de-grado {
  background-color: #1c06a5;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 46px; /* Espacio horizontal de 1cm entre botones */
  cursor: pointer;
  border-radius: 10px;

}
/*----efectos---del---boton---*/
.botones-de-grado:hover {
  background-color: #FFD608; /* Cambia el color de fondo al pasar el cursor */
  color:#fdfdfd;
}

.botones-de-grado:active {
  transform: translateY(10px); /* Agrega sombreado al hacer clic */
}

/*---------------------------------------------------------------------------------------------------*/
/* ----- Variables ----- */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  
  /* ----- Header ----- */
  
  header {
    background-color: #034873;
  }
  
  .barra-azul {
    display: flex;
    align-items: center;
    padding: 20px 20px;
  }
  
  .logo-aunar {
    width: 150px;
    margin-right: 310px;
  }
  
  .titulo-campus {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    font-family: "Kalam", sans-serif;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 2px;
  }
  
  /* ----- Main ----- */
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .contenedor-login {

    width: 400px;
    padding: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -260px; /* Aumentado para subir el contenedor */
  }
  
  .titulo-sesion {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .campo-usuario,
  .campo-contrasena {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .campo-contrasena {
    margin-top: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    color: #ffeb3b;
  }
  
  .boton-ingresar {
    background-color: #ffeb3b;
    color: #000;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .boton-ingresar:hover {
    background-color: #fff;
    color: #ffeb3b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .olvidaste-contrasena {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .recordar-usuario {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .recordar-usuario input {
    margin-right: 10px;
  }
  
  .recordar-usuario label {
    font-size: 14px;
  }
  
  .registrar-usuario {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* ----- Media queries ----- */
  
  @media (max-width: 768px) {
    .contenedor {
      width: 90%;
    }
  
    .titulo-campus {
      font-size: 25px;
    }
  }
  
  /* ----- Estilos adicionales ----- */
  
  .campo-usuario:focus,
  .campo-contrasena:focus {
    border-color: #ffeb3b;
    outline: none;
  }
  
  .boton-ingresar:active {
    transform: scale(0.95);
  }

  /*----------------------------------------LIBROS-------------------------------*/
  

  .container-busquedapor {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    width: 400px;
    margin-left: 25px;
    border: 1px solid #ccc; /* Agrega un borde de color gris */
    border-radius: 5px; /* Agrega bordes redondeados */
    padding: 10px; 
    position: relative;
}

.boton-busqueda {
  position: absolute;
  margin-right: 12px; /* Cambia este valor según sea necesario */
  right: 0;
  padding: 5px 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.boton-busqueda i {
  color: #555555; /* Color del icono, puedes ajustarlo según tus preferencias */
  
}

.container-buscarpor {
    display: flex;
    align-items: center;
}


.buscar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.container-filtrar {
    display: flex;
    flex-direction: column;
}

.filtrar-item {
    background-color: #FFD608; /* Amarillo */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: #FFD608;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

.container-filtrar .filtrar-item:hover {
  background-color: #034873;
  color: #ffffff;
  border-color: #034873;
}

.ruta {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ruta ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ruta ol li {
  display: inline;
}

.ruta ol li:not(:last-child):after {
  content: " / ";
  margin: 0 5px;
}

.ruta ol li a {
  text-decoration: none;
  color: #0366d6; /* Color azul, puedes cambiarlo según tus preferencias */
}

.ruta ol li a:hover {
  text-decoration: underline;
}

/*----------------------------------------------opiniones-------------------------------------*/
.perfil-opinion {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.perfil-opinion img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.nombre {
  font-weight: bold;
}

.comentario {
  margin-bottom: 10px;
}

.valoracion span {
  cursor: pointer;
  margin-right: 10px;
}

.like, .dislike {
  font-size: 1.5em;
  cursor: pointer; /* Agregamos un cursor de puntero */
}

.like.clicked {
  color: green; /* Cambiar el color al hacer clic */
  /* Otras animaciones o estilos que desees aplicar */
  transition: color 0.3s ease; /* Transición suave del color */
}

.like.clicked::after {
  content: "\2714"; /* Cambiar el contenido del icono */
}

.opinion.clicked {
  background-color: #f0f0f0; /* Cambiamos el color de fondo cuando se hace clic */
  /* Otras animaciones o estilos que desees aplicar */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.opiniones {
  display: flex;
  flex-direction: column;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.opinion {
  width: calc(33.33% - 20px); /* Se resta el doble del margen deseado */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-left: 10px; /* Margen a la izquierda */
  margin-right: 10px; /* Margen a la derecha */
  text-align: justify;
}